::highlight(underline-style-solid-thin) {
  text-decoration: underline solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 17%;
}

::highlight(underline-style-double-thin) {
  text-decoration: underline double;
  text-decoration-thickness: 1px;
  text-underline-offset: 17%;
}

::highlight(underline-style-dotted-thin) {
  text-decoration: underline dotted;
  text-decoration-thickness: 1px;
  text-underline-offset: 17%;
}

::highlight(underline-style-dashed-thin) {
  text-decoration: underline dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 17%;
}

::highlight(underline-style-wavy-thin) {
  text-decoration: underline wavy;
  text-decoration-thickness: 1px;
  text-underline-offset: 17%;
}

::highlight(underline-style-solid-thick) {
  text-decoration: underline solid;
  text-decoration-thickness: 2px;
  text-underline-offset: 17%;
}

::highlight(underline-style-double-thick) {
  text-decoration: underline double;
  text-decoration-thickness: 2px;
  text-underline-offset: 17%;
}

::highlight(underline-style-dotted-thick) {
  text-decoration: underline dotted;
  text-decoration-thickness: 2px;
  text-underline-offset: 17%;
}

::highlight(underline-style-dashed-thick) {
  text-decoration: underline dashed;
  text-decoration-thickness: 2px;
  text-underline-offset: 17%;
}

::highlight(underline-style-wavy-thick) {
  text-decoration: underline wavy;
  text-decoration-thickness: 2px;
  text-underline-offset: 17%;
}
